.navBlock{
    width: 60%;
    margin-left: auto;
    
}
header{
    background-color: #ff0644d9;
}
.navBlock a{
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 20px;
    font-size: large;
    font-family: italic;
    color: white;
}